# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Outputs & Data (Hocanın repoyu temiz indirmesi için)
outputs/
data/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environments
.env
.venv
env/
venv/
ENV/